.main {
    .pagination-link {
        background-color: $white-color;
        color: #000000;
    }
    .is-current {
        background-color: $primary-color;
    }
    .sort {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .content {
        width: 75%;
    }
    .pagination-link {
        &:hover {
            background-color: $primary-color;
            opacity: 0.6;
        }
    }
}

.card {
    .row {
        display: flex;
    }
    .item-title {
        margin-right: 20px;
    }
}
