.filter {
    .arrow {
        background-color: $white-color;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .submit-button {
        background-color: $primary-color;
        width: 100%;
    }
    .param3 {
        width: 45%;
    }
    .param4 {
        width: 100%;
    }
}
