.header {
    padding: 40px 0 40px 16px;
    font-weight: 700;
    font-size: 1.125rem;
    color: #000000;
}

.white {
    background-color: #ffffff;
}

.breadcrumb {
    padding-left: 16px;
    & p:hover {
        color: $primary-color;
    }
}

.navbar-item {
    padding: 16px;
}
