.block.footer.pb-4
    .columns
        .column.is-one-quarter
            h3 Logo / Company Name
            .block.footer-content
                i.fas.fa-map-marker-alt
                p.text.
                    Company Adress: Lorem ipsum 
                    dolor sit amet
                    18600, Netherlands
            .block.footer-content
                i.fas.fa-phone-alt
                p.text +38 958 755-00-00
            .block.footer-content.social
                a(href="#")
                    i.fab.fa-facebook
                a(href="#")
                    i.fab.fa-instagram
                a(href="#")
                    i.fab.fa-twitter
                a(href="#")
                    i.fab.fa-youtube
        .column.pl-0.pt-6
            p.content Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit quis incidunt ex optio ducimus, at aspernatur voluptatum tempore fugit. Repellendus commodi accusamus laboriosam corrupti ex voluptates similique nisi explicabo provident!

