html
    head
        meta(charset='utf-8')
        meta(name='keywords' content=page_meta.meta_keywords)
        meta(name='description' content=page_meta.meta_description)
        title=page_meta.title
        script(src='https://kit.fontawesome.com/d47bbca5e5.js' crossorigin='anonymous')
    body
        .container
            include components/header/header
            h1.mb-4=page_meta.h1
            .columns
                .column.is-one-quarter
                    include components/filter/filter
                .column
                    include components/main/main
            include components/footer/footer