html
    head
        meta(charset='utf-8')
        meta(name='keywords' content=page_meta.meta_keywords)
        meta(name='description' content=page_meta.meta_description)
        title=page_meta.title
    body
        include components/header/header
        .columns
            .column.is-one-quarter
                include components/filter/filter
            .column
                include components/main/main
        include components/footer/footer